<div class="language-selector">
    <div class="container block-group">
        <div class="language-selector--navigation">
            <ul class="language-selector--list">
                <li class="language-selector--entry">
                    <a href="https://antique-watches.de" rel="nofollow noopener">
                        {% sw_icon 'flag_de' style { 'pack': 'custom' } %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{# TODO: remove hardcode above and custom language-widget.html.twig #}
{# {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %} #}
