<div class="top-bar">
    <div class="container block-group">
        <nav class="top-bar--navigation block" role="menubar">
            <div class="navigation--entry entry--compare is--hidden" role="menuitem" aria-haspopup="true"
                data-drop-down-menu="true"> </div>
            <div class="navigation--entry entry--service has--drop-down" role="menuitem" aria-haspopup="true"
                data-drop-down-menu="true">
                    {% sw_icon 'question' style { 'pack': 'custom' } %}
                    Service/Help 
                <ul class="service--list is--rounded" role="menu">

                    {% for serviceMenuItem in page.header.serviceMenu %}
                        {% block layout_footer_service_menu_item %}
                            <li class="service--entry" role="menuitem"> 
                                <a class="service--link"
                                    href="{{ category_url(serviceMenuItem) }}"
                                    {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                    title="{{ serviceMenuItem.translated.name }}">
                                    {{ serviceMenuItem.translated.name }}
                                </a>
                            </li>
                        {% endblock %}
                    {% endfor %}
                </ul>

                {% sw_icon 'arrow-down' style { 'pack': 'custom' } %}
            </div>
        </nav>
    </div>
</div>
